.cars-footer {
  display: flex;
  width: 100%;
  margin: 5px 20px;

  &__name {
    display: flex;
    width: 100%;
    font-size: 1.2em;
    justify-content: center;
  }

  &__date {
    display: flex;
    font-size: 0.7em;
    position: absolute;
  }
}
